<script>
  import {onDestroy} from 'svelte';
  import Cell from '../../../../components/Cell.svelte';
  import {FILLED, CROSSED} from '../../../../constants/cells';
  import {
    rows,
    handleMouseDown,
    handleMouseEnter,
    removeMouseUpListener,
  } from '../_store/cells.js';

  onDestroy(() => removeMouseUpListener());
</script>

{#each $rows as row, rowIndex}
  {#each row as cellType, colIndex}
    <Cell
      {rowIndex}
      {colIndex}
      handleMouseDown={$handleMouseDown}
      handleMouseEnter={$handleMouseEnter}
      style={{
        background: {
          color: cellType === FILLED ? 'black' : 'white',
        }
      }}
    >
      {#if cellType === CROSSED}
        <span role="img" aria-label="crossed">
          &#10060;
        </span>
      {/if}
    </Cell>
  {/each}
{/each}
