<script>
  import clues from '../_store/clues.js';
</script>

<style>
  .clue {
    pointer-events: none;
    padding: 0.1rem 0.2rem;
  }
  .clues {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .row-clues {
    flex-flow: row;
    grid-column: 1;
    padding-right: 0.2rem;
  }
  .col-clues {
    flex-flow: column;
    grid-row: 1;
    padding-bottom: 0.2rem;
  }
</style>

{#each $clues.rows as rowClues, i}
  <div class="clues row-clues" style={`grid-row: ${i + 2}`}>
    {#each rowClues as rowClue}
      <div class="clue">{rowClue}</div>
    {/each}
  </div>
{/each}

{#each $clues.cols as colClues, i}
  <div class="clues col-clues" style={`grid-column: ${i + 2}`}>
    {#each colClues as colClue}
      <div class="clue">{colClue}</div>
    {/each}
  </div>
{/each}