<script>
  import {goto} from '@sapper/app';
  import title from '../_store/title';
  import {dimensions, updateDimensions} from '../_store/cells';
  import {showClues} from '../_store/clues';
  import {DIMENSIONS} from '../../../../constants';

  const dimensionOptions = DIMENSIONS.ALL.map(dimension => ({
    value: dimension.VALUE,
    label: dimension.VALUE.replace('x', ' x '),
    selected: dimension.VALUE === $dimensions.VALUE,
  }));

  $: handleDimensionsChange = event => {
    const nextDimensions = DIMENSIONS.ALL.find(({VALUE}) => VALUE === event.target.value);

    updateDimensions(nextDimensions, true);
  };
</script>

<style>
  #puzzle-editor-controls {
    display: flex;
    flex-flow: column;
    padding: 2rem 1rem;
    height: 100%;
    justify-content: space-between;
  }
  button {
    width: 80%;
  }
</style>

<div id="puzzle-editor-controls">
  <div>
    <div class="form-group">
      <label for="titleInput">Title</label>
      <input type="text" id="titleInput" bind:value={$title}>
    </div>
    <div class="form-group">
      <label for="dimensions-select">Dimensions</label>
      <select id="dimensions-select" on:input={handleDimensionsChange} value={$dimensions}>
        {#each dimensionOptions as {value, label, selected}}
          <option {value} {selected}>{label}</option>
        {/each}
      </select>
    </div>
    <div class="form-group">
      <label for="show-clues-checkbox">Show Clues</label>
      <input id="show-clues-checkbox" type="checkbox" bind:checked={$showClues} />
    </div>
  </div>
  <button on:click={() => goto('/my-stuff')}>Go Back</button>
</div>
