<script context="module">
  export async function preload({params}) {
    const res = await this.fetch(`api/puzzle/${params.slug}`);

    if (res.status === 200) {
      return {
        puzzle: await res.json()
      };
    }

    this.error(404, 'Not found');
  }
</script>

<script>
  import {goto} from '@sapper/app';
  import Puzzle from './_components/Puzzle.svelte';
  import initializeStores from './_store/initializeStores.js';
  export let puzzle;

  initializeStores(puzzle);
</script>

<style>
  main {
    height: 100%;
  }
  #PuzzleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>

<svelte:head>
  <title>Little Boxes | {puzzle.title}</title>
</svelte:head>

<aside class="shadow shadow-large">
  <button on:click={() => goto('/browse')}>Back</button>
  <p><span>puzzleId: </span><span data-qa="puzzle-id">{puzzle.puzzleId}</span></p>
  <p><span>title: </span><span data-qa="puzzle-title">{puzzle.title}</span></p>
  <p><span>artistDisplayName: </span>:<span data-qa="puzzle-artist">{puzzle.artistDisplayName}</span></p>
</aside>
<main>
  <div id="PuzzleContainer">
    <Puzzle />
  </div>
</main>
