<script>
  import {stores} from '@sapper/app';
  import Nav from '../components/Nav/Nav.svelte';
  const {page} = stores();

  // Pages nested more than one segment have their own sidebar
  $: showNav = ($page.path.match(/\//g) || []).length < 2;
</script>

<div id="root">
  {#if showNav}
    <Nav />
  {/if}
  <slot />
</div>
