<svelte:head>
  <title>Little Boxes</title>
</svelte:head>

<div class="centered-message">
  <h2>Welcome to Little Boxes!</h2>
  <h3>A website dedicated to <a href="https://en.wikipedia.org/wiki/Nonogram" class="nested-in-text">nonogram</a> puzzles</h3>
</div>
