<script>
  import Sidebar from './_components/Sidebar.svelte';
  import Puzzle from './_components/Puzzle.svelte';
</script>

<style>
  main {
    height: 100%;
  }
  #PuzzleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
</style>

<svelte:head>
  <title>Little Boxes | Puzzle Editor</title>
</svelte:head>

<aside class="shadow shadow-large">
  <Sidebar />
</aside>
<main>
  <div id="PuzzleContainer">
    <Puzzle />
  </div>
</main>
