<script>
  import dimensions from '../../../../routes/browse/_store/dimensions.js';
  import {DIMENSIONS} from '../../../../constants';

  const dimensionRadios = DIMENSIONS.ALL.map(dimension => ({
    id: `Dimension-Radio-${dimension.VALUE}`,
    name: 'Dimension-Radio-Group',
    value: dimension.VALUE,
    label: dimension.VALUE.replace('x', ' x '),
  }));
</script>

<style>
  #Sidebar {
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding-top: 1rem;
  }
</style>

<div>
  <fieldset class="form-group">
    <legend>Dimensions</legend>
    {#each dimensionRadios as {id, name, value, label}}
      <label for={id} class="paper-radio">
        <input type="radio" {id} {name} {value}
          data-qa="dimensions-radio-input"
          bind:group={$dimensions}
        >
        <span>{label}</span>
      </label>
    {/each}
  </fieldset>
</div>
