<script>
  import Dimensions from './Dimensions';
  import {stores} from '@sapper/app';
  const {page} = stores();

  $: selected = $page.path.startsWith('/browse');
</script>

<style>
  :not(.selected) {
    border-bottom: none;
  }
</style>

<h4>
  <a href="/browse" class:selected>
    Browse
  </a>
</h4>
{#if selected}
  <Dimensions />
{/if}