<svelte:head>
  <title>Little Boxes | My Stuff</title>
</svelte:head>

<div class="centered-message">
  <h2>My Stuff</h2>
  <h3>Try out the <a href="/my-stuff/puzzle-editor" class="nested-in-text">puzzle editor</a></h3>
</div>
