<script>
  import classnames from 'classnames';
  import {
    UNSATISFIABLE,
    SATISFIABLE,
    COMPLETED,
    rowStatus,
    colStatus
  } from '../_store/game.js';
  import clues from '../_store/clues.js';

  const getClasses = (rowOrCol, status) => {
    return classnames({
      clues: true,
      [`${rowOrCol}-clues`]: true,
      'unsatisfiable-clues': status === UNSATISFIABLE,
      'satisfiable-clues': status === SATISFIABLE,
      'completed-clues': status === COMPLETED,
    });
  };
</script>

<style>
  .clue {
    pointer-events: none;
    padding: 0.1rem 0.2rem;
  }
  .clues {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .row-clues {
    flex-flow: row;
    grid-column: 1;
    padding-right: 0.2rem;
  }
  .col-clues {
    flex-flow: column;
    grid-row: 1;
    padding-bottom: 0.2rem;
  }
  .unsatisfiable-clues {
    color: red;
    font-weight: bold;
  }
  .satisfiable-clues {
    color: black;
  }
  .completed-clues {
    color: blue;
    font-weight: bold;
  }
</style>

{#each $clues.rows as rowClues, rowIndex}
  <div class={getClasses('row', $rowStatus[rowIndex])} style={`grid-row: ${rowIndex + 2}`}>
    {#each rowClues as rowClue}
      <div class="clue">{rowClue}</div>
    {/each}
  </div>
{/each}

{#each $clues.cols as colClues, colIndex}
  <div class={getClasses('col', $colStatus[colIndex])} style={`grid-column: ${colIndex + 2}`}>
    {#each colClues as colClue}
      <div class="clue">{colClue}</div>
    {/each}
  </div>
{/each}