<script>
  import Cells from './Cells.svelte';
  import Clues from './Clues.svelte';
  import makeStyle from '../../../../utils/makeStyle.js';
  import {dimensions} from '../_store/cells.js';
</script>

<style>
  #Puzzle {
    display: grid;
    margin: 0 auto;
    width: fit-content;
  }
</style>

<div>
  <div id="Puzzle" style={makeStyle({
      grid: {
        template: {
          columns: `max-content repeat(${$dimensions.width + 1}, auto)`,
          rows: `max-content repeat(${$dimensions.height + 1}, auto)`,
        },
      },
    })}
  >
    <Clues />
    <Cells />
  </div>
</div>
