<script>
  import {stores} from '@sapper/app';
  const {page} = stores();

  $: selected = $page.path.startsWith('/help');
</script>

<style>
  :not(.selected) {
    border-bottom: none;
  }
</style>

<h4>
  <a href="/help" class:selected=>
    Help
  </a>
</h4>
