<script>
  import {stores} from '@sapper/app';
  const {page} = stores();

  $: selected = $page.path.startsWith('/my-stuff');
</script>

<style>
  :not(.selected) {
    border-bottom: none;
  }
</style>

<h4>
  <a href="/my-stuff" class:selected>
    My Stuff
  </a>
</h4>
{#if selected}
  <div>
    <a href="/my-stuff/puzzle-editor">Puzzle Editor</a>
  </div>
{/if}
