<script>
  export let size = 'lg';
</script>

<style>
  .box-loader-lg {
    width: 60px;
    height: 60px;
  }

  .box-loader-sm {
    width: 30px;
    height: 30px;
  }

  .box {
    width: 50%;
    height: 50%;
    float: left;
  }

  .box1, .box4 {
    -webkit-animation: boxStartsLarge 1s infinite ease-in-out;
            animation: boxStartsLarge 1s infinite ease-in-out; 
  }

  .box2, .box3 {
    -webkit-animation: boxStartsSmall 1s infinite ease-in-out;
        animation: boxStartsSmall 1s infinite ease-in-out; 
  }

  @-webkit-keyframes boxStartsLarge {
    0%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 50% {
      -webkit-transform: scale3D(0.7, 0.7, 1);
              transform: scale3D(0.7, 0.7, 1); 
    }
  }

  @keyframes boxStartsLarge {
    0%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 50% {
      -webkit-transform: scale3D(0.7, 0.7, 1);
              transform: scale3D(0.7, 0.7, 1);
    } 
  }

    @-webkit-keyframes boxStartsSmall {
    0%, 100% {
      -webkit-transform: scale3D(0.7, 0.7, 1);
              transform: scale3D(0.7, 0.7, 1); 
    } 50% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    }
  }

  @keyframes boxStartsSmall {
    0%, 100% {
      -webkit-transform: scale3D(0.7, 0.7, 1);
              transform: scale3D(0.7, 0.7, 1); 
    } 50% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    }
  }
</style>

<div class={`box-loader-${size}`}>
  <div class="box box1 border"></div>
  <div class="box box2 border"></div>
  <div class="box box3 border"></div>
  <div class="box box4 border"></div>
</div>
