<script>
  import makeStyle from '../utils/makeStyle';
  export let rowIndex;
  export let colIndex;
  export let handleMouseDown;
  export let handleMouseEnter;
  export let style = {};
</script>

<style>
  .puzzle-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }
</style>

<div
  class="puzzle-cell"
  style={makeStyle({
    ...style,
    grid: {
      row: String(rowIndex + 2),
      column: String(colIndex + 2),
    },
    border: '1px solid black',
    'border-top-width': `${rowIndex ? 0 : 1}px`,
    'border-left-width': `${colIndex ? 0 : 1}px`,
  })}
  on:mousedown|preventDefault={event => handleMouseDown(rowIndex, colIndex, event)}
  on:mouseenter|preventDefault={event => handleMouseEnter(rowIndex, colIndex, event)}
>
  <slot />
</div>
