div.centered-message {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -3rem;
}
div.centered-message h3 {
  margin: 0;
}
@media only screen and (max-width: 768px) {
  div.centered-message {
    margin-top: unset;
  }
}
a.nested-in-text {
  font-family: unset;
  background-image: unset;
  color: #0071de;
}

#root {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

nav, aside {
  width: 15rem;
  min-width: 15rem;
  min-height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
main {
  flex-grow: 1;
}
@media only screen and (max-width: 768px) {
  #root {
    flex-wrap: wrap;
  }
  nav, aside {
    position: unset;
    min-height: unset;
  }
  main, nav, aside {
    width: 100%;
    max-width: none;
  }
}