<script>
  import BoxLoader from '../../../components/BoxLoader.svelte';
  import dimensions from '../_store/dimensions.js';
  import lastPuzzleSeen from '../_store/lastPuzzleSeen.js';
  import {fetchPuzzles} from '../_store/puzzles.js';
  import {isFetchingPuzzles} from '../_store/puzzles.js';

  let observer;

  if (typeof IntersectionObserver !== 'undefined') {
    observer = new IntersectionObserver(onIntersect, {rootMargin: '200px'});
  }

  function onIntersect([{isIntersecting}]) {
    if (isIntersecting && !$isFetchingPuzzles && $lastPuzzleSeen) {
      fetchPuzzles($dimensions, $lastPuzzleSeen);
    }
  }

  function lazyLoad(node) {
    observer && observer.observe(node);
    return {
      destroy: () => observer && observer.unobserve(node),
    };
  }
</script>

<style>
  #PuzzlesLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.4rem;
    max-width: 20rem;
    max-height: 20rem;
    height: 12rem;
    width: 12rem;
  }
</style>

{#if $isFetchingPuzzles}
  <div id="PuzzlesLoading">
    <BoxLoader />
  </div>
{:else}
  <div use:lazyLoad />
{/if}
