<script>
  export let likedCt;
  const src = 'images/heart-red.svg';
</script>

<style>
  div {
      position: absolute;
      right: 0.75rem;
      bottom: 0.75rem;
      display: flex;
  }
  img {
    width: 1rem;
    margin-right: 0.25rem;
  }
</style>

<div>
  <img {src} alt="heart"> 
  {likedCt}
</div>