<script>
  import {fade} from 'svelte/transition';
  import {goto} from '@sapper/app';
  import LikedCount from './LikedCount.svelte';
  export let puzzleId;
  export let title;
  export let likedCt;
  export let artistDisplayName;

  const handleClick = () => goto(`/puzzle/${puzzleId}`);
  const noop = () => {};
</script>

<style>
  .puzzle-card {
    margin: 0.4rem;
    cursor: pointer;
    max-width: 20rem;
    max-height: 20rem;
    height: 12rem;
    width: 12rem;
  }
  @media only screen and (max-width: 768px) {
    .puzzle-card {
      width: 100%;
      max-width: unset;
    }
  }
  .card-body {
    padding-bottom: 2rem;
  }
  h4 {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: calc(1.15 * 1.5rem * 3); /* fallback for non-webkit */
  }
  h5 {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: calc(1.15 * 2); /* fallback for non-webkit */
  }
</style>

<div data-qa="puzzle-card" class="card puzzle-card" data-id={puzzleId} on:click={handleClick} in:fade out:noop>
  <div class="card-body">
    <h4 class="card-title">{title}</h4>
    <h5 class="card-subtitle">by {artistDisplayName}</h5>
    <LikedCount {likedCt} />
  </div>
</div>