<script>
  import {onDestroy} from 'svelte';
  import PuzzleCard from './PuzzleCard.svelte';
  import LazyLoadMarker from './LazyLoadMarker.svelte';
  import puzzles, {fetchPuzzles, isFetchingPuzzles} from '../_store/puzzles.js';
  import dimensions from '../_store/dimensions.js';
  const unsubscribe = dimensions.subscribe($dimensions => {
    fetchPuzzles($dimensions, null, true);
  });

  onDestroy(unsubscribe);
</script>

<style>
  main {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
  }
</style>

<main>
  {#each $puzzles as {puzzleId,title,likedCt,artistDisplayName}}
    <PuzzleCard {puzzleId} {title} {likedCt} {artistDisplayName} />
  {/each}
  {#if !$puzzles.length && !$isFetchingPuzzles}
    <p>No Puzzles to Show</p>
  {/if}
  <div data-qa="lazy-load-marker">
    <LazyLoadMarker />
  </div>
</main>
