<style>
  #brand {
    margin: 0;
    padding: 5px 8px;
  }
  #brand a {
    display: flex;
    align-items: flex-end;
  }
  #brand img {
    height: 50px;
    margin: 0px 5px 5px 0px;
  }
</style>

<h3 id="brand">
  <a href="/">
    <img src="apple-icon.png" alt="logo" class="no-border">
    Little Boxes
  </a>
</h3>