<script>
  import Brand from './Brand';
  import Browse from './Sections/Browse/index.svelte';
  import MyStuff from './Sections/MyStuff.svelte';
  import Help from './Sections/Help.svelte';
</script>

<style>
  nav {
    flex-flow: column;
    padding: 1rem;
  }
</style>

<nav class="shadow shadow-large">
  <Brand />
  <div>
    <Browse />
    <MyStuff />
    <Help />
  </div>
</nav>
